@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    box-sizing: border-box;
    --background-primary-color: #e4e4e7;
    --dashboard-color: #0284c7;
    --button-primary-color: #0284c7;
    --button-secondary-color: #0273ab;
    --shadow-color: #d1d5db;
    --white-color: #ffffff;
    --card-border-color: #ffa600;
    --grey-color-text: #888888;
    --avatar-1: url(./images/dog_picture.jpg);
    --avatar-2: url(./images/samurai_picture.jpg);
    --avatar-3: url(./images/monster_picture.jpg);
    --avatar-4: url(./images/wizard_picture.jpg);
    --card-shadow: 2px 1px 1px 2px var(--shadow-color);
}

body {
    font-family: 'Roboto', sans-serif;;
    margin: 0;
    height: 100svh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
        "dashboard header"
        "dashboard main";
}

/* ------- HEADER ------- */

.header {
    grid-area: header;
    padding: 20px 30px;
    z-index: 1;
    box-shadow: 0 10px 15px -3px var(--shadow-color);
}

.top {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    gap: 16px;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

label {
    cursor: pointer;
}

#search-bar {
    width: min(80%, 800px);
    font-size: 0.9rem;
    padding: 10px 16px;
    background-color: var(--background-primary-color);
    border: none;
    border-radius: 16px;
}

.profile-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

button.notification {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.avatar-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-image: var(--avatar-1);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.user-name {
    font-size: 1.3rem;
    cursor: pointer;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.greetings-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.greetings-container .avatar-image {
    min-height: 60px;
    min-width: 60px;
    cursor: default;
}

span.name {
    font-size: 1.3rem;
    font-weight: bolder;
}

.button-container {
    display: flex;
    gap: 28px;
}

.button-option {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--white-color);
    padding: 14px 36px;
    background-color: var(--button-primary-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.button-option:active {
    background-color: var(--button-secondary-color);
}

/* ------- SIDEBAR ------- */

.sidebar {
    grid-area: dashboard;
    background-color: var(--dashboard-color);
    padding: 10px 30px;
}

.sidebar-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-title .material-symbols-outlined,
.sidebar-title .title {
    font-size: 2rem ;
    color: var(--white-color);
}

.sidebar-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 32px;
}

.user-nav {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.nav-option {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--white-color);
    text-decoration: none;
}

.nav-option:visited {
    color: var(--white-color);
}

/* ------- MAIN ------- */

.container {
    grid-area: main;
    padding: 20px 30px;
    background-color: var(--background-primary-color);
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
        "projects announcements"
        "projects trending";
    gap: 16px;
}

.projects-area {
    grid-area: projects;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    gap: 16px;
}

.card {
    background-color: var(--white-color);
    padding: 16px 32px;
    border-left: 12px solid var(--card-border-color);
    border-radius: 12px;
    display: grid;
    grid-template-rows: 1fr min-content;
    box-shadow: var(--card-shadow);
}

.card .card-title {
    color: black;
    margin-bottom: -10px;
    cursor: pointer;
}

.card .text {
    color: var(--grey-color-text);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

.actions .material-symbols-outlined {
    cursor: pointer;
}

.announcements-area {
    grid-area: announcements;
}

.announcements-container,
.trending-container {
    width: 24ch;
    border-radius: 12px;
    display: grid;
    grid-auto-rows: 1fr;
    background-color: var(--white-color);
    padding: 10px 24px;
    box-shadow: var(--card-shadow);
}

.new-announcement {
    margin-bottom: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.announcement-title {
    margin-bottom: -8px;
    font-weight: 600;
    font-size: 1rem;
}

.new-announcement .text {
    font-size: 0.7rem;
    color: var(--grey-color-text);
}

.trending-area {
    grid-area: trending;
}

.new-trend {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.new-trend .text {
    font-size: 0.9rem;
    color: var(--grey-color-text);
}

.new-announcement + .new-announcement {
    border-top: 1px solid var(--shadow-color);
}

.trend-one .avatar-image {
    background-image: var(--avatar-2);
}

.trend-three .avatar-image {
    background-image: var(--avatar-3);
}

.trend-four .avatar-image {
    background-image: var(--avatar-4);
}

/* ------- ANIMATIONS ------- */

button.notification:active,
.profile-container .avatar-image:active,
.profile-container .user-name:active,
.button-option:active,
.favorite:active,
.visibility:active,
.share:active {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}

.card:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}